@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url("./fontes/IDroid.otf") format('opentype');
    font-weight: normal;
}

/*
Paleta de cores (da mais clara para a mais escura)
#53E177
#0FDB42
#0CA833
#2FA866
#1A5C37
#063D1E
*/

:root {
    --cor0: #C5EBD6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063D1E;
    
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', 'cursive;'
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

main p {
    padding: 10px 10px;
    text-indent: 40px;
    text-align: justify;
    line-height: 2em;
    font-size: 1.1em;
}

main strong {
    color: var(--cor3);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor1);
    padding: 2px 6px;
    color: var(--cor5);
    transition-duration: 0.5s;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor3)
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5) );
    min-height: 150px;
    text-align: center;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    padding-top: 30px;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(2, 2, 2, 0.432);
    font-weight: normal;
}

header > p {
    color: white;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-bottom: 20px;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.445);
}

nav > a {
    color: var(--cor0);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.6s;
}

nav > a:hover {
    background-color: var(--cor3);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

main img {
    width: 100%;
}

.pequena {
    max-width: 350px;
    margin: auto;
    display: block;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-size: 1.8em;
}

main h2 {
    color: var(--cor4);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor2), var(--cor0), white);
    padding: 2px 6px;
    font-weight: normal;
}

.video {
    background-color: var(--cor5);
    padding: 20px;
    margin: 0px -20px 30px -20px;
    position: relative;
    padding-bottom: 56.5%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.473);
}

aside h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style-position: inside;
    list-style-type: '\2714\00a0';
}


footer {
    background-color: var(--cor5);
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
    color: white;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition-duration: 0.5s;
    padding: 0px 1px;
}

footer a:hover {
    text-decoration: underline;
    background-color: #2FA866;
}
